<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application Icon</key>
	<string>Needs Attribution</string>
	<key>Tab Icon&apos;s</key>
	<string>Icon part of the package downloaded from the icons8 site. (https://icons8.com/ios)</string>
</dict>
</plist>
